@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Poppins", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: "Brushelva";
  src: url("./assets/fonts/Brushelva-Personal-Used.woff") format("woff"),
       url("./assets/fonts/Brushelva-Personal-Used.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

